<p id="notice"><%= notice %></p>

<h1>Winetypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @winetypes.each do |winetype| %>
      <tr>
        <td><%= winetype.name %></td>
        <td><%= link_to 'Show', winetype %></td>
        <td><%= link_to 'Edit', edit_winetype_path(winetype) %></td>
        <td><%= link_to 'Destroy', winetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Winetype', new_winetype_path %>
