<%= simple_form_for(@beer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date, label: "Release Date" %>
    <%= collection_check_boxes(:beer, :beertype_ids, @beertypes, :id, :name) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
