<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @beer.date %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.map {|c| c.name}.join(', ') %>
</p>

<p>
  <strong>Beer Type:</strong>
  <%= @beer.beertype.map {|a| a.name}.join(', ')%>
</p>

<p>
  <strong>Colour:</strong>
  <%= @beer.colour.map {|b| b.name}.join(', ') %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
